<template>
    <div>
        <h1>TODO-Liste</h1>
        <ShoppingList v-for="list in shoppingList" v-bind:list="list" v-bind:key="list.id"
                      v-on:update-entry="updateEntry" v-on:add-entry="addEntry"
                      v-on:update-title="updateTitle" />
    </div>
</template>

<script>
    import ShoppingList from '@/components/ShoppingList.vue'

    export default {
        name: 'Todo',
        data: function () {
            return {
                shoppingList: [
                    {
                        id: 1,
                        name: 'Liste 1',
                        items: [
                            {
                                id: 1,
                                name: 'Nudeln',
                                shopId: 1,
                                amount: 2,
                                bought: false
                            },
                            {
                                id: 2,
                                name: 'Ketchup',
                                shopId: 1,
                                amount: 1,
                                bought: true
                            }
                        ]
                    },
                    {
                        id: 2,
                        name: 'Liste 2',
                        items: []
                    }
                ]
            }
        },
        components: {
            ShoppingList
        },
        methods: {
            updateEntry: function (data) {
                console.log('update entry', data);
                let item = this.shoppingList.find(l => l.id === data.listId).items.find(i => i.id === data.id);
                switch (data.property) {
                    case 'name':
                        item.name = data.value;
                        break;
                    case 'bought':
                        item.bought = data.value;
                        break;
                    case 'amount':
                        item.amount = parseInt(data.value);
                        break;
                }
            },
            addEntry: function (data) {
                console.log('add entry', data);
                let items = this.shoppingList.find(l => l.id === data).items;
                items.push({ id: items.lenght, name: 'Neuer Eintrag', shopId: 1, amount: 1, bought: false });
            },
            updateTitle: function (data) {
                console.log('update title', data);
                this.shoppingList.find(l => l.id === data.listId).name = data.value;
            }
        }

    }
</script>