<template>
    <span>
        <input v-if="edit" type="text" v-bind:value="value" v-on:blur="handleChange" />
        <span v-if="!edit">{{value}}</span>&nbsp;
        <span v-if="!edit" v-on:click="edit = true">[Bearbeiten]</span>
    </span>
</template>

<script>
    export default {
        name: 'InputField',
        props: {
            value: String
        },
        methods: {
            handleChange: function(e) {
                console.log('Handle change:', e);
                this.edit = false;
                this.$emit('change-input', e.target.value);
            }
        },
        data: function() {
            return {
                edit: false
            }
        },
        created: function () {
            console.log(this.value);
        }
    }
</script>