<template>
    <div>
        <h3><InputField v-bind:value="list.name" v-bind:id="0"
                        v-on:change-input="changeTitle" /></h3>

        <ListItem v-for="entry in list.items" 
                    v-bind="entry" v-bind:key="entry.id" v-bind:check="entry.bought"
                    v-on:change-input="changeEntry"/>
        <br />
        <input type="button" value="Neuer Eintrag" v-on:click="$emit('add-entry', list.id)" />
    </div>
</template>

<script>
    import InputField from '@/components/InputField.vue'
    import ListItem from '@/components/ListItem.vue'

    export default {
        name: 'ShoppingList',
        props: ['list'],
        components: {
            InputField,
            ListItem
        },
        methods: {
            changeEntry: function (data) {
                console.log('change input', { ...data, listId: this.list.id });
                this.$emit('update-entry', { ...data, listId: this.list.id });
            },
            changeTitle: function (data) {
                console.log(data);
                this.$emit('update-title', { value: data, listId: this.list.id });
            }
        }
    }
</script>

<style>
    h3 {
        margin-top: 30px;
    }
</style>